       <meta charset="UTF-8">
        <div class="content">
            <div class="left_block">
                <h4> Категории </h4>
                <ul>
                    <li>
                        <a href="users/login">Десткая одежда</a>
                    </li>
                    <li>
                        <a href="users/register">Игрушки</a>
                    </li>
                    <li>
                        <a href="users/login">Средства гигиены</a>
                    </li>
                </ul>

                <div class="latest_tovar">
                    <h4> Новые товары </h4>
                    <table>
                        <?php foreach($data['latest tovar'] as $value => $toys) { ?>
                        <tr>
                            <th>
                                <a href="/tovary/view/<?=$toys['name']?>"><img src="<?php echo $toys['url_img']?>" height="115px" width="115px"></a>
                            </th>
                            <th>
                                <?=$toys['name']?>
                                <br>
                                <strong style="font-size: 14pt"><?=$toys['price']?>грн</strong>
                            </th>
                        </tr>
                        <?php } ?>
                    </table>
                    <h4> Акциионые  </h4>
                </div>

            </div>
            <div class="right_block">
                <p style="font-size: 14pt; "> <?=$data['tovar']['name']?> </p>

                <div class="photo" style="float: left; width: 300px">
                    <img src="<?=$data['tovar']['url_img']?>" alt="">
                </div>
                <div class="description_tovar" style="float: right; width: 500px;">
                    <div id="left_blok" style="float: left">
                        <h4 style="font-size: 12pt"> <strong><?=$data['tovar']['name']?> </strong> </h4>
                        <h4> Бренд:</h4>
                        <h4> Артикул:</h4>
                        <h4> Наличие на складе:</h4>
                        <h4> Цена:</h4>
                    </div>
                    <div id="right_block" style="float: right; padding-right: 200px">
                        <br>
                        <h4><?=$data['tovar']['brend']?> </h4>
                        <h4><?=$data['tovar']['article']?> </h4>
                        <?php if ($data['tovar']['sklad'] == 1){?>
                        <h4>Есть на складе</h4>
                        <?php } else {?>
                        <h4>Нет на складе</h4>
                        <?php }?>
                        <h4 style="font-size: 20pt"><strong> <?=$data['tovar']['price']?> грн</strong></h4>
                    </div>

                    <a href="/carts/index?action=add&id=<?=$data['tovar']['id']?>&name=<?=$data['tovar']['name']?>">Добавить в корзину</a>

                   <br>
                    <!-- <a href="/carts/index?action=add&id=<?=$data['tovar']['id']?>&name=<?=$data['tovar']['name']?>">Добавить в корзину</a>-->

               </div>
                <div class="korpus" style="clear: both; padding-top: 20px; width: 900px">
                    <input type="radio" name="odin" checked="checked" id="vkl1"/>
                    <label for="vkl1">ОПИСАНИЕ</label>
                    <input type="radio" name="odin" id="vkl2"/>
                    <label for="vkl2">КОМЕНТАРИИ</label>
                    <div>
                        <?=$data['tovar']['description']?>
                    </div>
                    <div >
                        <p style="font-size: 14pt"> Написать новый отзыв </p>
                        <form action="" method="post" class="koment">
                            <label for="name" style="font-size: 12pt">Имя</label>
                            <input type="text" name="name" id=name><br>
                            <label for="text" style="font-size: 12pt; vertical-align: middle">Текст собщения</label>
                            <textarea name="text" id="text" cols="60" rows="3"></textarea><br>
                            <input type="submit" value="Опубликовать коментарий">
                        </form>
                        <table width="600px">
                            <?php foreach($data['coment'] as $coment) { ?>
                            <tr style="background-color: white">
                                <td >
                                    <?=$coment['name']?><br>
                                </td>
                                <td style="width: 200px">
                                    <?=$coment['text']?>
                                </td>
                                <td>
                                    <?=$coment['time']?>
                                </td>
                            </tr>
                            <?php } ?>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       <script>
           $("a[id|='add']").on('click', function() {
               id = $(this).attr('id').split('-');
               id = id[1];
               $.get('/carts/index?action=add&id=' + id, alert('Product ' + id + ' added'));
           });
       </script>
