<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детский магазин</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- FONTS -->
    <link rel="stylesheet" href="/webroot/css/ad_style.css">


</head>
<body>
<header>
    <div class="top_menu">
        <ul>
            <li>
                <img src="/webroot/img/logo.png" alt="" >
            </li>
            <li>
                <a href="/pages/home">Вернутся на главную страницу</a>
            </li>
            <li>Ииформация по профилю</li>
        </ul>
    </div>
    <div class="nav">
        <ul id="menu">
            <li><a href="#" class="drop">Заказы</a>
                <div class="dropdown_1column">
                    <div class="col_1">
                        <ul class="simple">
                            <li><a href="/admin/orders/index">Новые заказы</a></li>
                            <li><a href="/admin/orders/history">История заказов</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#" class="drop">Каталог товаров</a>
                <div class="dropdown_1column">
                    <div class="col_1">
                        <ul class="simple">
                            <li><a href="/admin/tovary/index">Список товаров</a></li>
                            <li><a href="/admin/tovary/comentTovar">Коментарии к товарам</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#" class="drop">Пользователи</a>
                <div class="dropdown_1column">
                    <div class="col_1">
                        <ul class="simple">
                            <li><a href="/admin/users/index">Список пользователей</a></li>
                            <li><a href="/admin/pages/contact">Коментарии</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#" class="drop">Посты</a>
                <div class="dropdown_1column">
                    <div class="col_1">
                        <ul class="simple">
                            <li><a href="/admin/posts/index">Список постов</a></li>
                            <li><a href="/admin/posts/add">Создание нового поста</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
<content>
    <div class="container">
        <?php if( Session::hasFlash() ){ ?>
        <div class="alert alert-info" role="alert">
            <?php Session::flash(); ?>
        </div>
        <?php } ?>

        <?=$data['content']?>
    </div>
</content>
<footer>

</footer>
</body>
</html>