<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детский магазин</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- FONTS -->
    <link rel="stylesheet" href="/webroot/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/webroot/js/index.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('#featured').orbit({
                'bullets': true,
                'timer' : true,
                'animation' : 'horizontal-slide'
            });
        });
    </script>
</head>
<body>
<header>
    <div class="top_menu">
        <ul>
            <li class="logo">
                <img src="/webroot/img/logo.png" alt="" >
            </li>
            <li class="item">
                <div class="img">
                    <img src="/webroot/img/delivery.png" alt="">
                </div>
                <div class="text">
                    <p>Бесплатная доставка</p>
                    <p>tehteh</p>
                </div>
            </li>
            <li class="item">
                <div class="img">
                    <img src="/webroot/img/phone.png" alt="">
                </div>
                <div class="text">
                    <p>+38(096)333-33-33</p>
                    <p>regte</p>
                </div>
            </li>
        </ul>
    </div>
<ul id="menu">
                <li<?php if( App::getRouter()->getController() == 'pages' ) {?><?php } ?>><a href="/pages/home">ГЛАВНАЯ</a></li>
                <li><a href="#" class="drop">ДЕТСКАЯ ОДЕЖДА</a><!-- Начало пунтка 4 колонки -->

                    <div class="dropdown_4columns"><!-- Начало контейнера на 4 колонки -->
                        <div class="col_1">

                            <h3>Одежда для девочек</h3>

                            <ul>
                                <li><a href="#">ThemeForest</a></li>
                                <li><a href="#">GraphicRiver</a></li>
                                <li><a href="#">ActiveDen</a></li>
                                <li><a href="#">VideoHive</a></li>
                                <li><a href="#">3DOcean</a></li>
                            </ul>

                        </div>

                        <div class="col_1">

                            <h3>Одежда для мальчиков</h3>
                            <ul>
                                <li><a href="#">NetTuts</a></li>
                                <li><a href="#">VectorTuts</a></li>
                                <li><a href="#">PsdTuts</a></li>
                                <li><a href="#">PhotoTuts</a></li>
                                <li><a href="#">ActiveTuts</a></li>
                            </ul>

                        </div>

                    </div><!-- Конец контейнера на 4 колонки -->

                </li><!-- Конец пункта на 4 колонки -->
                <li>
                    <a href="/tovary/toy">ИГРУШКИ</a></li>
                <li><a href="">АКСЕССУАРЫ</a></li>
                <li>
                    <a href='/carts/index'>Корзина</a>
                </li>
            </ul>

    <div class="box_nav">
        <div class="info">
            <ul>
               <?php if (isset($_SESSION['name'])) { ?>
                <li>
                    <a href=""><?=$_SESSION['name'].' '.$_SESSION['l_name']?></a>
                </li>
                    <?php if ($_SESSION['role'] == 'admin'){?>
                        <li>
                            <a href="/admin/orders/index">Настройка магазина</a>
                        </li>
                    <?php } ?>
                <li>
                    <a href="/users/logout">Выход</a>
                </li>

                <?php }else{?>
                <li>
                    <a href="/users/login">Вход</a>
                </li>
                <li>
                    <a href="/users/register">Ригистрация</a>
                </li>
                <?php } ?>
                <li>
                    <form action="" style="float: right; padding-right: 50px">
                        Поиск <input type="search" name="search">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>
<content>
    <div class="container">
        <?php if( Session::hasFlash() ){ ?>
        <div class="alert alert-info" role="alert">
            <?php Session::flash(); ?>
        </div>
        <?php } ?>

        <?=$data['content']?>
    </div>
</content>
<footer>
    <div class="box_news">
        <ul>
            <li class="new">
               PURCHASE KIDSMARKET FOR $55 NOW!
               <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.
            </li>
            <li>
                ПОДПИСКА
            </li>
            <li class="follow">
                FOLLOW US
            </li>
        </ul>
    </div>
    <div class="info_site">
        <div class="news">
            <ul>
                <li>
                    <a href="">О нас</a>
                </li>
                <li>
                    <a href="">Оплата</a>
                </li>
                <li>
                    <a href="">Доставка</a>
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="information">
            <h4>ИНФОРМАЦИЯ</h4>
            <ul>
                <li>
                    <a href="">О нас</a>
                </li>
                <li>
                    <a href="">Оплата</a>
                </li>
                <li>
                    <a href="">Доставка</a>
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="contact">
            <h4>КОНТАКТЫ</h4>
            <ul>
                <li>
                    Megnor Com pvt Ltd, 507-Union Trade Center,

                </li>
                <li>
                    (+91)-8866888222
                </li>
                <li>
                    support@templatemela.com
                </li>
            </ul>
            <h4>Оплата</h4>
            <ul>
                <li>
                    Megnor Com pvt Ltd, 507-Union Trade Center,
                    Udhana Darwaja,Ring Road, Surat, India.
                </li>
                <li>
                    (+91)-8866888222
                </li>
                <li>
                    support@templatemela.com
                </li>
            </ul>
        </div>
        </div>
    </div>
    <script>
    function sendData(){
        var val = $('select[name="statul"]').val();
        $.ajax({
            url: "default.html",
            type: "POST",
            data: val,
            cache: false,
            success: function(response){
                //code
            }
        });
    }
</script>

</footer>

<script type="text/javascript">
    $(function() {
        $('#ei-slider').eislideshow({
            easing		: 'easeOutExpo',
            titleeasing	: 'easeOutExpo',
            titlespeed	: 1200
        });
    });
</script>
</body>
</html>