<script language="JavaScript" type="text/javascript">
    /*<![CDATA[*/
    var s=[],s_timer=[];
    function show(id,h,spd)
    { s[id]= s[id]==spd? -spd : spd;
        s_timer[id]=setTimeout(function() {
            var obj=document.getElementById(id);
            if(obj.offsetHeight+s[id]>=h){obj.style.height=h+"px";obj.style.overflow="auto";}
            else if(obj.offsetHeight+s[id]<=0){obj.style.height=0+"px";obj.style.display="none";}
            else {obj.style.height=(obj.offsetHeight+s[id])+"px";
                obj.style.overflow="hidden";
                obj.style.display="block";
                setTimeout(arguments.callee, 10);
            }
        }, 10);
    }
    /*]]>*/
</script>
<div class="content">
    <table>
        <tr>
            <td>
                ID
            </td>
            <td>
                Статус заказа
            </td>
            <td>
                Дата и время
            </td>
            <td>
                Заказчик
            </td>
            <td>
                Цена заказа
            </td>
            <?php foreach($data['orders'] as $order) { ?>
        <tr>
            <td>
                <?=$order['id_order']?>
            </td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="id" value="<?=$order['id_order']?>">
                    <select name="status">
                        <option value="new">Новый</option>
                        <option value="treated">Обработан</option>
                    </select>
                    <input type="submit" value="Обновить">
                </form>
            </td>
            <td>
                <?=$order['time']?>
            </td>
            <td>
                <?=$order['name']?>
            </td>
            <td>
                <?=$order['price']?>
                <a href="/admin/orders/index?id_order=<?=$order['id_order']?>" class="md-trigger" data-modal="modal-1">Показать товары</a>
            </td>
            <?php } ?>
    </div>
    </table>
<?php if(isset($_SESSION['showTovar'])) { ?>
    <div id=hidden_2>
        <?php foreach($_SESSION['showTovar'] as $tovar) { ?>
        <p><?=$tovar['article']?>  <img src="<?=$tovar['url_img']?>" width="20px" height="25px"> <?=$tovar['name']?> <?=$tovar['count']?>*<?=$tovar['price']?></p>
        <?php } ?>
</div>
<?php } ?>




