<table>
    <tr >
        <td class="title">
            ID
        </td>
        <td class="title">
            Имя
        </td>
        <td class="title">
            E-mail
        </td>
        <td class="title">
            Текст собщения
        </td>
        <td class="title">
            Дата
        </td>
    </tr>
    <?php foreach($data['comment'] as $comment) { ?>
    <tr>
        <td>
            <?=$comment['id']?>
        </td>
        <td>
            <?=$comment['name']?>
        </td>
        <td>
            <?=$comment['mail']?>
        </td>
        <td>
            <?=$comment['text']?>
        </td>
        <td>
            <?=$comment['time']?>
        </td>
        <?php } ?>
</table>
