<div class="content">
    <div class="left_block">
        <div class="information">
            <h4>ИНФОРМАЦИЯ</h4>
            <ul>
                <li><a href="/pages/about">О нас</a></li>
                <li><a href="/pages/delivery">Оплата и доставка</a></li>
                <li><a href="/pages/contact">Контакты</a></li>
            </ul>
        </div>

    </div>
    <div class="right_block">
        <div class="right_block">
            <div id="content">
                <h4>Нашы контакты</h4>
                <div class="row contact-info" style="width: 800px">
                    <div class="left" style="float: left">
                        <div class="address-detail"><strong>Your Store</strong>
                            <address>
                                Киев<br/>
                                ул. Ялтинская 6<br/>
                            </address>
                        </div>
                        <div class="telephone">
                            <strong>Telephone</strong>
                            <address>+91 8866888222</address>
                        </div>

                    </div>
                    <div class="right" style="float: right">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5918873431424!2d30.64932591542565!3d50.43007497947253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c53d2c208d6b%3A0x9d89c218acb07c9a!2z0LLRg9C7LiDQr9C70YLQuNC90YHRjNC60LAsIDYsINCa0LjRl9Cy!5e0!3m2!1suk!2sua!4v1455878486854" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    </div>

                </div>
                <h4>ОСТАВИТЬ КОМЕНТАРИЙ</h4>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="name">Ваше имя</label>
                        <input type="text" name="name" id="name"/>
                    </div>
                    <div class="form-group">
                        <label for="mail">E-mail</label>
                        <input type="text" name="mail" id="mail"/>
                    </div>
                    <div class="form-group ">
                        <label for="text">Текст собщения</label></br>
                        <textarea name="text" rows="10" cols="100" id="text"></textarea>
                    </div>
                    <input type="submit" value="Отправить"/>
                </form>
            </div>
        </div>
    </div>