<div class="content">
    <div class="left_block">
        <div class="latest_tovar">
            <h3>Статьи</h3><br/>
            <table>
                <?php foreach($data['posts'] as $posts) { ?>
                <tr>
                    <th style="padding-top: 20px">
                        <a href="/tovary/view/<?=$posts['name']?>"><img src="<?php echo $posts['url_img']?>"
                                                                        height="90px" width="110px"></a>
                    </th>
                    <th>
                        <p><strong style="font-size: 14pt"><?=$posts['name']?></strong></p>

                        <p><?=$posts['date']?></p>
                    </th>
                </tr>
                <?php } ?>
            </table>

        </div>
    </div>
    <div class="right_block">
        <div class="right_block">
            <h3>Регистрация нового пользователя</h3><br/>

            <form method="post" action="">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Имя"/>
                </div>
                <div class="form-group">
                    <label for="l_name">Фамилия</label>
                    <input type="text" id="l_name" name="l_name" class="form-control" placeholder="Фамилия"/>
                </div>
                <div class="form-group">
                    <label for="mail">E-mail</label>
                    <input type="email" id="mail" name="mail" class="form-control" placeholder="petrov@gmail.com"/>
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="067333-33-33"/>
                </div>
                <div class="form-group">
                    <label for="region">Область</label>
                    <input type="text" id="region" name="region" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="region1">Район</label>
                    <input type="text" id="region1" name="region1" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="town">Город/село/поселок</label>
                    <input type="text" id="town" name="town" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="street">Улица</label>
                    <input type="text" id="street" name="street" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="house">Дом</label>
                    <input type="text" id="house" name="house" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="flat">Квартира</label>
                    <input type="text" id="flat" name="flat" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control"/>
                </div>
                <input type="submit" class="btn btn-success"/>
            </form>
        </div>
    </div>