    <table>
        <tr >
            <td class="title">
                ID
            </td>
            <td class="title">
                Название
            </td>
            <td class="title">
                Краткое описание
            </td>
            <td class="title">
                Сылка на картинку
            </td>
            <td class="title">
                Дата
            </td>
        </tr>
        <?php foreach($data['posts'] as $post) { ?>
        <tr>
            <td>
                <?=$post['id']?>
            </td>
            <td>
                <?=$post['name']?>
            </td>
            <td>
                <?=$post['desc']?>
            </td>
            <td>
                <?=$post['url_img']?>
            </td>
            <td>
                <?=$post['date']?>
            </td>
            <?php } ?>
    </table>
